button.Navbar.Login {
    background-color: var(--backColor);
    border-radius: 0.5em;
    cursor: pointer;
    border: 0em;
    padding: 1em 2em;
}

button.Navbar.Login p {
    margin: 0;
}

button.Navbar.Login:hover {
    background-color: var(--textColoredTransparent);
}

button.Navbar.Login:hover p {
    color: var(--textColoredAlter);
}