@font-face {
    font-family: "MadimiOne";
    src: url("../assets/font/MadimiOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --textColored: #1BBCB6;
    --GrayLine: #808080;
    --textColoredTransparent: #1bbcb740;

    --BigText: 2.559em;
    --TitleText: 1.559em;
    --NormalText: 1.059em;
    --SmaillText: 0.759em;
    --BorderOne: 0.509em;
    --BorderTwo: 0.259em;
}

.light {
    --backColor: #ffffff;
    --textMain: #000000;
    --textSecondary: #000000bf;
    --textColoredAlter: #0B4C49;
    --GrayColor: #f5f5f5;

}

.dark {
    --backColor: #000000;
    --textMain: #ffffff;
    --textSecondary: #ffffffbf;
    --textColoredAlter: #6CEAE4;
    --GrayColor: #0a0a0a;
}

body {
    background-color: var(--backColor);
    font-family: "MadimiOne";
    margin: 0;
}

button,
input {
    font-family: "MadimiOne";
}

span,
h1,
p {
    color: var(--textMain);
}

.textSecondary {
    color: var(--textSecondary);
}

.textColor {
    color: var(--textColored);
}

.textAlter {
    color: var(--textAlter);
}

span,
.bigText {
    font-size: var(--BigText);
}

h1 {
    font-size: var(--TitleText);
}

p {
    font-size: var(--NormalText);
}

p.smail {
    font-size: var(--SmaillText);
}