div.navbar {
    background-color: var(--backColor);
    border-bottom: 0.15em solid var(--GrayLine);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0;
    width: calc(100% - 2em);
}

div.navbar div{
    display: flex;
    align-items: center;
}

div.navbar img {
    height: var(--BigText);
}

div.navbar h1 {
    margin: 0 0 0 0.5em;
}