.animal-cadastrados {
    right: 0;
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.animal {
    background-color: #ffffff;
    width: 260px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.animal:hover {
    box-shadow: 0px 0px 5vw #000000;
}

.animal .name {
    align-content: end;
    height: 40px;
}

.animal h1 {
    font-size: 20px;
    margin: 2.5px;
}

.animal img.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.animal .dono {
    margin: 5px;
    font-size: 12px;
    margin-bottom: 20px;
}

.animal .dados {
    margin: -10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2.5px;
}

.animal img.sex {
    max-width: 30px;
}

.animal .type {
    max-height: 30px;
    width: 165px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

.animal .type p {
    margin: 7px;
    font-size: 13px;
}
