/* Field */

.form-register
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
    margin-left: 220px;
    margin-right: 20px;
    gap: 50px;
}

form
{
    background-color: white;
    border-radius: 30px;
    width: 100vw;
    height: 605px;
}

/* images */

form .animal-img
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 55px;
    width: 40.5vh;
    height: 40.5vh;
}

form .animal-img input[type="file"]
{
    position: absolute;
    cursor: pointer;
    width: 40.5vh;
    height: 40.5vh;
    opacity: 0;
}

form .animal-img img
{
    object-fit: cover;
    display: block;
    width: 40.5vh;
    height: 40.5vh;
    border-radius: 30px;
    border: 2px dashed #ccc;
}

/* Titles */

form h1
{
    margin: 0;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 20px;
}

/* Input */

form input[type="text"],
form input[type="tel"],
form input[type="number"]
{
    text-transform: uppercase;
    background-color: #EFEFEF;
    font-size: 18px;
    margin-bottom: 10px;
    height: 25px;
    border: 2.5px solid;
}

form textarea
{
    resize: none;
    text-transform: uppercase;
    background-color: #EFEFEF;
    font-size: 20px;
    margin-bottom: 10px;
    border: 2.5px solid;
}

/* Data */

form .hr
{
    display: flex;
    width: 100%;
}

form .hr .data
{
    width: 90%;
    margin-right: 20px;
}

form .animal-data
{
    width: 100%;
}

form label.divider,
form label
{
    display: flex;
    gap: 10px;
}

form input,
form textarea
{
    width: 100%;
}

form input[id="age"]
{
    width: 145px;
}

form input[id="age"]::-webkit-outer-spin-button,
form input[id="age"]::-webkit-inner-spin-button
{
  -webkit-appearance: none;
}

form select[id="sex"]
{
    background-color: #EFEFEF;
    font-size: 18px;
    height: 31px;
    border: 2.5px solid;
}

/* check-up */

form .animal-description
{
    margin-left: 2vw;
    margin-right: 2vw;
}

form textarea[id="description"]
{
    height: 100px;
}

form div.buttom
{
    text-align: right;
}

form button
{
    border: 3px solid #00FF00;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 100px;
    height: 50px;
    width: 250px;
}