button.Navbar.Login {
    background-color: var(--ColorTheme);
    border-radius: 0.5em;
    cursor: pointer;
    border: 0em;
    padding: 1em 2em;
}

button.Navbar.Login p {
    margin: 0;
}

button.Navbar.Login:hover {
    background-color: var(--ColorPrimariaQ1);
}

button.Navbar.Login:hover p {
    color: var(--ColorPrimariaTheme);
}