button.btn {
    background-color: var(--ColorPrimaria);
    border: 0em;
    border-radius: var(--BorderOne);
    cursor: pointer;
}

button.btn h1 {
    color: var(--ColorTheme);
}

button.btn:hover {
    background-color: var(--ColorPrimariaTheme);
}

button.W100 {
    width: 100%;
}

button.Wpersona {
    width: 25em;
}