.Degrad {
    background: #1BBCB6;
    background: linear-gradient(135deg, #1BBCB6 0%, #0B4C49 100%);
    width: calc(50% - 2em);
    height: calc(100dvh - 2em);
    padding: 1em;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Left {
    left: 0px;
}

.Right {
    right: 0px;
}

.Degrad .img {
    text-align: center;
}

.Degrad .img img {
    width: 20em;
}