label {
    color: var(--ColorText);
    font-size: var(--NormalText);
    display: flex;
    flex-direction: column;
}

input {
    background-color: white;
    font-size: calc(var(--NormalText) - 0.1em);
    border-radius: var(--BorderOne);
    border: 0.15em solid var(--ColorInpu);
    padding: 0.25em 0.5em;
    margin: 0.5em 0em 1em 0em;
}

input:focus {
    box-shadow: 0 0 0 0.2em var(--ColorPrimaria);
}