div.navbar {
    background-color: var(--ColorTheme);
    border-bottom: 0.15em solid var(--ColorLine);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0;
    width: calc(100% - 2em);
}