html, body {
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 50%);
}

.olho {
    position: fixed;
    right: 15px;
    top: 401px;
    width: 24px;
    height: 24px;
}

#olho {
    border-radius: 100px;
    right: 16px;
    width: 24px;
    top: 390px;
    cursor: pointer;
}

.input1,
.input2{
    margin-bottom: 15px;
}