html, body {
    background: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,255,255,1) 50%);
}

.olho {
    position: fixed;
    right: 15px;
    top: 336px;
    width: 24px;
    height: 24px;
}

#olho {
    border-radius: 100px;
    right: 16px;
    width: 24px;
    bottom: 20.1vh;
    cursor: pointer;
}

.input1{
    margin-bottom: 15px;
}

.link {
    text-align: right;
    width: 95%;
    top: 0px;
    margin-left: 2.5%;
    font-weight: bold;
}