<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Paws</title>
    <!-- Styles -->
    <link rel="stylesheet" href="static/css/styles-view.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- Menu -->
    <aside>
        <img src="static/img/user.png" alt="User">
        <ul class="menu">
            <li><a href="/view">ALL ANIMALS</a></li>
            <li><a href="/create">NEW ANIMAL</a></li>
        </ul>
        <li class="out"><a href="#">EXIT</a></li>
    </aside>
    <!-- Animal List -->
    <div id="animais-container" class="animal-cadastrados">
    </div>
    <!-- Script -->
    <script src="static/js/view.js"></script>
</body>
</html>
